@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white dark:text-neutral-50 dark:bg-neutral-900 font-raleway;
    }
}

body::-webkit-scrollbar {
    width: 0.6rem;
}

@layer dark {
    body::-webkit-scrollbar-track {
        @apply dark:bg-neutral-800;
    }
}

body::-webkit-scrollbar-thumb {
    background: #3c3f42;
    border-radius: 10px;
}

.mantine-Carousel-control {
    background: #ffffff;
}

.mantine-Carousel-indicator {
    background: #ffffff;
}

.loading {
    clip-path: inset(0 1.4ch 0 0);
    animation: l 1s steps(4) infinite;
}
